body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h3, h4, p {
    font-family: 'Lexend Exa', sans-serif;
}

h3 {
    margin-top: 5%;
}

h4 {
    text-transform: uppercase;
    margin-top: 10px;
}

.container h3, h4 {
    text-align: center;
}

.navbar-nav {
    margin: auto;
}

h1 {
    margin-top: 20%;
}

[red] {
    background-color: #dc7f7f;
    height: 641px;
}

[grey] {
    background-color: #F8F9FB;
    text-align: center;
    min-height: 641px;
}

[grey] p {
    padding: 0 20% 0 20%;
}

[red] img {
    width: 500px;
    height: auto;
    padding: 20%;
}

.navbar-nav a {
    margin-left: 40px;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

table {
    margin-top: 20px;
}

.nav-red {  
    background-color: #dc7f7f !important;
}

.progress-bar {
    background-color: #dc7f7f;
}

.top {
    margin-top: 20px;
    text-align: center;
}

.height {
    height: 300px;
}

ol {
    padding: 10% 0 0 25%;
}

ol li a {
    color: black;
}

ol li a:hover {
    color: #dc7f7f;
    text-decoration: none;
}

.placeholder {
    background-color: #dc7f7f;
    height: 250px;
}

#projects {
    margin-top: 5%;
}